*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  /* background: url(../images/login-bg.png) center center / cover no-repeat #434a5c; */
  background-color: #434a5c;
  color: #fff;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
}
.page-holder {
  display: flex;
}
#sidebar {
  width: 158px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 4px 0px 12px -1px rgb(52, 52, 52);
}
.logo-wrapper {
  padding: 16px 10px;
  text-align: center;
}
.logo-wrapper img {
  height: 35px;
}
#sidebar-menu li a {
  background: #425269;
  border: 1px solid #434a5c;
  display: block;
  line-height: 20px;
  padding: 7px 12px;
}
#sidebar-menu li:last-child a {
  background: transparent;
}
#sidebar-menu li a:not([data-href]),
.panel-nav li a:not([data-href]) {
  cursor: not-allowed;
}
#sidebar-menu li.active a {
  background: #fff;
  color: #425269;
}
#main-content {
  flex-grow: 1;
  margin-left: 158px;
  padding: 12px;
}
.panel-nav {
  display: flex;
  border-bottom: 2px solid #3a4050;
}
.panel-nav li a {
  display: block;
  line-height: 30px;
  padding: 0 8px;
  border-bottom: 2px solid #3a4050;
  margin-bottom: -2px;
  text-transform: uppercase;
  font-size: 14px;
}
.panel-nav li.active a {
  border-color: #feb940;
  color: #feb940;
}
.panel-content-wrapper {
  padding: 15px 12px 0 0;
}
.panel-content {
  display: none;
}
.panel-content.active {
  display: block;
}
.panel-content h3 {
  margin-bottom: 10px;
}
.table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 30px;
}
.table th,
.table td {
  padding: 5px 7px;
}
.table th {
  font-weight: 400;
  background-color: #dd9853;
  text-align: left;
  cursor: pointer;
}
.table td {
  background-color: #313c4a;
}
.table td:not(:first-child) {
  text-align: right;
}
.table tfoot td {
  background-color: #20272f;
}
#main-content .page {
  display: none;
}
#main-content .page.active {
  display: block;
}
